.noteItem {
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.noteItem:hover {
    box-shadow: 0 6px 16px -8px #00000014, 0 9px 28px #0000000d, 0 12px 48px 16px #00000008;
}

.noteItem time {
    font-style: italic;
    color: hsl(265, 6%, 66%);
    font-size: 10px;
    align-self: flex-end;
    margin-top: 4px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info h1 {
    font-size: 20px;
    margin: 10px 0;
}

.info p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}