.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    cursor: pointer;
}

.label {
    display: flex;
}

.excerpt {
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #a3a3a3;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.date {
    margin-top: 10px;
    align-self: flex-end;
    font-size: 14px;
    font-style: italic;
    font-family: Lora, Times New Roman, serif;
    color: #a3a3a3;
}